{
  "fcm_credentials": {
    "keys": {
      "public": "YOUR_FCM_PUBLIC_KEY",
      "private": "YOUR_FCM_PRIVATE_KEY",
      "secret": "YOUR_FCM_SECRET"
    },
    "gcm": {
      "token": "YOUR_GCM_TOKEN",
      "app_id": "YOUR_APP_ID",
      "android_id": "YOUR_ANDROID_ID",
      "security_token": "YOUR_SECURITY_TOKEN"
    },
    "fcm": {
      "registration": {
        "name": "YOUR_FCM_REGISTRATION_NAME",
        "token": "YOUR_FCM_TOKEN",
        "web": {
          "endpoint": "YOUR_FCM_ENDPOINT",
          "p256dh": "YOUR_P256DH_KEY",
          "auth": "YOUR_AUTH_KEY"
        }
      },
      "installation": {
        "token": "YOUR_INSTALLATION_TOKEN",
        "expires_in": 604800,
        "refresh_token": "YOUR_REFRESH_TOKEN",
        "fid": "YOUR_FID",
        "created_at": 0
      }
    },
    "config": {
      "bundle_id": "com.google.android.apps.adm",
      "project_id": "google.com:api-project-XXXXXXXXX",
      "vapid_key": "YOUR_VAPID_KEY"
    }
  },
  "username": "your-google-email@gmail.com",
  "aas_token": "YOUR_AAS_TOKEN",
  "shared_key": "YOUR_SHARED_KEY",
  "owner_key": "YOUR_OWNER_KEY",
  "adm_token_your-email@gmail.com": "YOUR_ADM_TOKEN"
}